<div class="pm" id="pm_overallContainer{{prefix}}" style="display:none">
    <table width="100%" style="border:0px">
        <tr style="border:0px">
            <td width="20px" style="border:0px"><span id="twistie{{prefix}}" style="color:blue;font-size:x-large;cursor:pointer">&#9656;</span></td>
            <td width="130px" style="text-align:left;border:0px"><span id="pm_overallJobName{{prefix}}"></span>:</td>
            <td width="100px" style="text-align:left;border:0px">Cores:<span class="badgeexecutorcores" id="pm_overallNumCores{{prefix}}" value="NA"></span></td>
            <td width="100px" style="text-align:left;border:0px">Executors:<span class="badgeexecutor" id="pm_overallNumExecutors{{prefix}}" value="NA"></span></td>
            <td width="calc(100% - 350px)" style="border:0px"><progress id="pm_overallProgress{{prefix}}" max="100" value="0" style="width:100%"></progress></td>
        </tr>
    </table>
</div>
<div id="pm_container{{prefix}}" style="display:none">
    <ul class="nav nav-tabs" id="progressMonitors{{prefix}}">
    </ul>
    <div class="tab-content" id="tabContent{{prefix}}">
    </div>
</div>

<script>
$("#twistie{{prefix}}").click(function(){
    visible = $("#pm_container{{prefix}}").is(':visible');
    $("#pm_container{{prefix}}").slideToggle("slow");
    $(this).html(visible?"&#9656;":"&#9662;")
});
</script>

<style>
.pm {
  /*border: 1px solid #EEEEEE;*/
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.4);
  background-color: #f7f7f7;
  margin: 5px 0px;
}

/*--------------Title Bar--------------------*/
.pm .title {
  background-color: #F37600;
  overflow: hidden;
  height: 30px;
}

.pm .titleright {
  float: right;
  position: relative;
  height: 100%;
}

.pm .titleleft {
  display: inline-block;
  height: 100%;
}

.pm .tbitem {
  padding: 0px 15px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.pm .badgecontainer {
  padding: 0px 5px;
}

.pm .titlecollapse:hover {
  background-color: #C45917;
}
    
.badgeexecutor, .badgeexecutorcores {
  font-size: 80%;
  padding: 5px 8px;
  color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.36);
  white-space: nowrap;
  font-weight: bold;
  margin: 0px 2px;
  background-color: rgba(117, 57, 0, 0.65);
}

</style>
